:root {
    --darkBlue: #1A1CA2;
}

html {
    background-color: #000000;
}

body {
    font-family: "Open Sans"
}

.grad {
    background-image: linear-gradient(to bottom right, #000022, #001242, #005E7C);
}

/* Keeps the in-page links visible by keeping text color white */
a:-webkit-any-link {
    color:white;
    cursor:pointer;
    text-decoration:none;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--darkBlue);
    color: white;
    /* COULD INCLUDE BELOW FOR HEADER TO FOLLOW DURING SCROLL */
    /* position:fixed;
    z-index: 1;
    width:100%; */
}

.header h1 {
    display:inline-block;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 15px;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.header nav ul li {
    margin-left: 50px;
    color:white;
    font-size: 30px;
    font-weight: 325;
}

/* social media icons */
.header-icons {
    display: flex;
    color:white;
    font-size: 30px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

/* Background image underneath nav section */
.alex {
    height: 400px;
    background-image: url(../Images/alexanime.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ABOUT SECTION */
.about {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    color:white;
}

.about h2 {
    font-weight: 500;
    font-size:42px;
    flex: 1;
    text-align: center;
}

.about p {
    padding: 100px;
    flex: 2;
    line-height:normal;
}

/* PROJECTS SECTION */
.project {
    display:flex;
    flex-direction: row;
    align-items: center;
    color:white;
}

.project h2 {
    font-weight: 500;
    font-size:42px;
    flex: 1;
    text-align: center;
}

/* Image styling for image links */
.project1 {
    max-height: 190px;
    width:860px;
}

.project2 {
    height: 190px;
    width: 420px;
}

/* Flexbox for image links */
.flexproject {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2;
    padding: 100px;
}

.flexproject nav {
    width: 400px; height: 200px; margin: 5px;
    border: 5px solid white;
    font-size: 20px; text-align: center; color: white;
}

.flexproject nav:nth-child(1) {
    flex-basis: 100%;
    justify-content: center;
}

.flexproject nav:nth-child(2) {
    flex: 1 0 auto;
}

.flexproject nav:nth-child(3) {
    flex: 1 0 auto;
}

footer {
    position: relative;
    display:flex;
    color:white;
    justify-content: center;
}

footer p {
    margin: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}