:root {
    --darkBlue: #1A1CA2;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--darkBlue);
    color: white;
}

.header h1 {
    display:inline-block;
    font-size: 48px;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.header nav ul li {
    margin-left: 50px;
    color:white;
    font-size: 30px;
}

/* Keeps the in-page links visible by keeping text color white */
a:-webkit-any-link {
    color:white;
    cursor:pointer;
    text-decoration:none;
}

/* social media icons */
.header-icons {
    display: flex;
    color:white;
    font-size: 30px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    letter-spacing: 15px;
}

.open-sans-li {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
    font-variation-settings: 
        "wdth" 300;
}

/* Background image underneath nav section */
.alex {
    height: 1100px;
    width: 100%;
    background-image: url(../Images/snowmed.jpg);
    background-size:cover;
    background-position: center;
}

.about {
    display:flex;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}